<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Global Masters Uganda</title>
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <%- include('partial/header') %>

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">About Us</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/homepage">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">About Us</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- ABOUT USJ -->
    <div class="main-about" style="margin: 20px;">
        <div style="text-align: center;">
          <h1>Enterprise Background</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum corporis sed voluptas itaque ullam est rerum suscipit, ipsa inventore aspernatur error nam, dolores dolor? Esse quo dolor perspiciatis optio dicta.</p>
        </div>
        <h2 style="text-align: center;">Board Of Governors</h2>
  
        <div class="board" style="border-top: solid darkkhaki thin; color: black;">
          <div class="ceo">
            <div class="ceo-image" style="margin:10px 0 0 15px ; height:300px;width: 45%;border-right: 5px solid grey;">
              <img src="/img/Her.jpeg" alt="Global CEO" style="height: 300px;text-decoration: none; width: 40%; color: black; border-radius: 150px; ">
              <div style="height:310px;position: relative;margin:-310px 0 0 40%; text-align: center; border-bottom: 5px solid grey;" >
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis reiciendis repellendus aliquid. Quae, nostrum ipsa rem delectus ducimus totam in vero deserunt sit sint quas quaerat, aperiam nihil exercitationem corporis!
                <p>
                    <strong>Nankya Elsa
                        <br>
                        <em>Director</em> <br>
                        <em><small>
                          <a href="mailto:elsakayigwa@gmail.com">elsakayigwa@gmail.com</a>
                        </small></em>
                    </strong>
                </p>
              </div>
            </div>
          </div>
          <div class="board">
            <div class="managing-director-image" style="margin:10px 0 0 15px ;height: 300px; width: 45%; border-right: 5px solid grey; position: relative; margin-left: 50%; margin-top: -300px;" >
              <img src="/img/man.jpeg" alt="Global CEO" style="height: 300px;text-decoration: none; width: 40%; border-radius: 150px; ">
              <div style="height:310px;position: relative;margin:-310px 0 0 40%; text-align: center; border-bottom: 5px solid grey;" >
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis reiciendis repellendus aliquid. Quae, nostrum ipsa rem delectus ducimus totam in vero deserunt sit sint quas quaerat, aperiam nihil exercitationem corporis!
                <p>
                    <strong>Jane Jacks
                        <br>
                        <em>Assistant Director</em> <br>
                        <em><small>
                          <a href="mailto:alvinssenyonjo@gmail.com">alvinssenyonjo@gmail.com</a>
                        </small></em>
                    </strong>
                </p>
              </div>
            </div>
          </div>
          <div class="board">
            <div class="managing-director-image" style="margin:10px 0 0 15px ;height: 300px; width: 45%; border-right: 5px solid grey; position: relative; margin-left: 50%; margin-top: -300px;" >
              <img src="/img/man.jpeg" alt="Global CEO" style="height: 300px;text-decoration: none; width: 40%; border-radius: 150px; ">
              <div style="height:310px;position: relative;margin:-310px 0 0 40%; text-align: center; border-bottom: 5px solid grey;" >
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis reiciendis repellendus aliquid. Quae, nostrum ipsa rem delectus ducimus totam in vero deserunt sit sint quas quaerat, aperiam nihil exercitationem corporis!
                <p>
                    <strong>Jane Jacks
                        <br>
                        <em>Assistant Director</em> <br>
                        <em><small>
                          <a href="mailto:alvinssenyonjo@gmail.com">alvinssenyonjo@gmail.com</a>
                        </small></em>
                    </strong>
                </p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    <%- include('./partial/footer') %>
</body>

</html>